<h1>Simple ToDo Project!</h1>
<p>
  This application is based on the Clean Architecture Solution Template that uses .NET and Angular. In it, currently there are three features.
</p>
<h3>Feature 1</h3>
<ul>
  <li>Users can change the background color for each Todo item.</li>
</ul>
<h3>Feature 2</h3>
<ul>
  <li>Users can add and remove tags to the Todo items.</li>
  <li>Users can filter Todo items by tags.</li>
  <li>Add shortcuts on UI for the most used tags by the user. (nice to have)</li>
  <li>Add text search. (nice to have)</li>
</ul>
<h3>Feature 3</h3>
<ul>
  <li>Add soft delete for Todo lists and items.</li>
  <li>Deleted items should not be deleted from the database</li>
  <li>Deleted items should not be shown on the UI or included in any query</li>
</ul>
