<h1>FD Test case project!</h1>
<p>Welcome to your test task.</p>
<p>
  Our test task is based on the Clean Architecture Solution Template that uses .NET and Angular. In it, there is a
  simple <a [routerLink]="['/todo']">Todo</a> app that we wish you to add the three features. After finishing the
  task, please create a GitHub repository containing this project's initial files in the main branch and separate
  branches for every feature you will work on. And create pull requests for every feature for us to review.
</p>
<h3>Feature 1</h3>
<ul>
  <li>Users can change the background color for each Todo item.</li>
</ul>
<h3>Feature 2</h3>
<ul>
  <li>Users can add and remove tags to the Todo items.</li>
  <li>Users can filter Todo items by tags.</li>
  <li>Add shortcuts on UI for the most used tags by the user. (nice to have)</li>
  <li>Add text search. (nice to have)</li>
</ul>
<h3>Feature 3</h3>
<ul>
  <li>Add soft delete for Todo lists and items.</li>
  <li>Deleted items should not be deleted from the database</li>
  <li>Deleted items should not be shown on the UI or included in any query</li>
</ul>

<p><u>Include as much unit test coverage as possible for the code you add.</u></p>

<p>We are aware that our tasks have open-ended questions. But we wish to see your perspective and ideas. Feel free to
  let your imagination run wild and create anything you want with this task.</p>
